.invoice-container {
  background-color: #f9f9f9;
  padding: 30px 53px 0 0;
  max-width: 800px;
  padding-bottom: 50px;
}

.invoice-header {
  font-family: 'Almarai', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  margin-bottom: 45px;
}

.invoice-subheader {
  font-family: 'Almarai', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.invoice-data-row {
  display: flex;
  margin-bottom: 16px;
}

.invoice-data-item {
  display: flex;
  gap: 12px;
}

.invoice-data-item-title {
  font-weight: 700;
  font-size: 10px;
}

.invoice-data-item-value {
  font-weight: 300;
  font-size: 10px;
}

.table-section {
  flex-direction: column;
}

.table-header {
  background-color: #d9d9d9;
  border-radius: 80px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  width: 584px;
}

.ksa_currency_sign {
  gap: 4px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.ksa_currency_sign img {
  margin-top: 2px;
  align-self: sart;
  font-weight: bold;
}

.body-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 30.5px;
  font-size: 12px;
  font-weight: 300;
}
/* Invoice Framework */

.spaceX-104 {
  gap: 104px;
}

.spaceX-68 {
  gap: 68px;
}
.spaceX-47 {
  gap: 47px;
}

.spaceX-35 {
  gap: 35px;
}
.header-spaces {
  padding: 13.5px 30.5px;
}

.spaceX-content-fit {
  width: 584px;
}

.spaceY {
  margin: 34px 0;
}

.data-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 584px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 12px;
}
.padding-8 {
  padding-bottom: 18px;
}
.weight-400 {
  font-weight: 400;
}

@media print {

  .invoice-container {
    background-color: #ffffff;
    padding-bottom: 50px;
    direction : rtl;
  }

  .invoice-header {
    font-size:24px
  }
  .spaceX-content-fit,
  .data-item {
      min-width: 700px;
  }

  .header-row {
    min-width: 700px;
  }

.invoice-data-item-title,
.invoice-data-item-value,
.body-row {
  font-size:16px;
}

.ksa_currency_sign img  {
  margin-top: 3px;
  width:16px;
  height:16px
}

  .data-item {
    font-size:16px;
  }

  .body-row {
    font-size:14px;
  }
}
