@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,700;1,700&display=swap');
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,700;1,700&display=swap';
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-sidebar-logout: var(--link-forground);
  --color-onclick: var(--midnight);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-gray: var(--gray);
  --color-dark-gray: var(--dark-gray);
  --color-soft-gray: var(--soft-gray);
  --color-semidark-gray: var(--semidark-gray);
  --color-soft-teal: var(--soft-teal);
  --color-gray: var(--gray);
  --color-dark-gray: var(--dark-gray);
  --color-semidark-gray: var(--semidark-gray);
  --color-soft-teal: var(--soft-teal);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary);
  --color-primary-light: var(--primary-light);

  --color-header-table: rgba(1, 192, 170, 0.15);
  --font-cairo: 'Cairo', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --radius-table: 12px 12px 0px 0px;
  --shadow-main: 0px 8px 28px 0px rgba(72, 89, 102, 0.1);
  --shadow-card: 0px 4px 4px 0px rgba(182, 182, 182, 0.25);
  --shadow-soft: 0 4px 4px 0 rgba(182, 182, 182, 0.25);
  --shadow-bar: 0px 4px 4px 0px rgba(182, 182, 182, 0.25);
  --shadow-card: 0px 4px 4px 0px rgba(182, 182, 182, 0.25);
  --shadow-settings: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;


  }

  :root {
    --midnight: #303750;
    --sidebar: #1f263e;

    --primary: #2D4484;
    --primary-dark: #1E294D;
    --primary-light: #E3F5FF;

    --sidebar-foreground: #f5f5f5;
    --link-forground: #f64e4b;
    --foreground: oklch(0 0 0);
    --gray: #787878;
    --dark-gray: #17211f;
    --semidark-gray: #787878;
    --soft-teal: #3aa3a3;
  }
}

.almarai-light {
  font-family: 'Almarai', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: 'Almarai', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.active {
  position: relative;
  padding-inline-end: 10px;
  border-inline-start: 10px solid rgba(1, 192, 170, 1);
  background-color: var(--color-onclick);
}
